<h2>validation can be done through assigning id equals to ngModel</h2>
<br/>
<form #loginform01="ngForm" (ngSubmit)="loginFormFunc(loginform01.value)">
  <input type="text" #name="ngModel" pattern="[a-zA-Z]+$" name="name" placeholder="Your Name" ngModel required/>
  <br/>
  <div>
    <span *ngIf="name.invalid && name.touched" style="color: red;">Please enter a Valid input</span>
  </div>
  <br/>

  <input type="password" #password="ngModel" name="password" placeholder="Password" minlength="4" ngModel required/>
  <br/>
  <div>
    <span *ngIf="password.errors?.['minlength']" style="color: red;">Please enter a strong password</span>
    <span *ngIf="password.invalid && password.touched " style="color: red;">Please enter a valid password</span> <br/>
  </div>
  <br/>

  <button name="form-submit01" [disabled]="loginform01.invalid">Submit</button>
</form>
